<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 not found</title>
    <link rel="stylesheet" href="~/Content/Error/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div title="404">404</div>
    <!-- partial -->

</body>
</html>
